{{!< default}}

<section class="team text-center section-padding" id="team">
  <div class="container">
    {{#post}}
      <div class="row">
        <div class="col-md-12">
          <h1 class="arrow">{{title}}</h1>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-12">
              <p>{{content}}</p>
          </div>
      </div>
    {{/post}}
    <div class="row" id="team-row">
              <div class="col-md-6 wp5">
                <a href="/james-mclaughlin">
                    <img class="img-thumbnail img-responsive center-block" src={{asset "img/mclaughlin_full.png" }}" alt="James McLaughlin">
                </a>
                <h2>James McLaughlin</h2>
                <p>A member of the firm since 1980, James specializes in domestic relations, tax and estate planning and real estate.</p>
                <div class="social">
                  <ul class="social-buttons">
                    <li><a href="#" class="social-btn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="mailto:jmclaughlin@southnaticklaw.com" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 wp5 delay-05s">
                <a href="/george-richards">
                    <img class="img-thumbnail img-responsive center-block" src={{asset "img/richards_full.png" }}" alt="George L Richards III">
                </a>
                <h2>George Richards III</h2>
                <p>George joined the firm in 1992 concentrating in commercial and residential real estate law, estate planning, probate law and small business law.</p>
                <div class="social">
                  <ul class="social-buttons">
                    <li><a href="https://www.linkedin.com/pub/george-richards/74/ba9/139" class="social-btn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.facebook.com/george.richards.7509" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="mailto:grichards@southnaticklaw.com" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                  </ul>
                </div>
              </div>
        </div>
        <div class="row" id="team-row">
              <div class="col-md-6 wp5">
                <a href="/richard-biller">
                    <img class="img-thumbnail img-responsive center-block" src=" {{asset "img/biller_full.png" }}" alt="Richard Biller">
                </a>
                <h2>Richard Biller</h2>
                <p>Richard joined the firm in 1995 and has been an attorney for 25 years. His practice focuses on domestic relations and employment law.</p>
                <div class="social">
                  <ul class="social-buttons">
                    <li><a href="#" class="social-btn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="mailto:rbiller@southnaticklaw.com" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 wp5 delay-05s">
                <a href="/caren-schindel">
                    <img class="img-thumbnail img-responsive center-block" src=" {{asset "img/schindel_full.png" }}" alt="Caren Schindel">
                </a>
                <h2>Caren Schindel</h2>
                <p>Caren has been with the firm since 2008 and brings 30 years of experience as a family law and probate attorney.</p>
                <div class="social">
                  <ul class="social-buttons">
                    <li><a href="#" class="social-btn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="mailto:cschindel@southnaticklaw.com" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>

        <div class="row" id="team-row">
              <div class="col-md-6 wp5 delay-1s">
                <a href="/leah-kaine">
                    <img class="img-thumbnail img-responsive center-block" src=" {{asset "img/kaine_full.png" }}" alt="Leah Kaine">
                </a>
                <h2>Leah Kaine</h2>
                <p>Leah has been Of Counsel to the firm since 2003. Her practice focuses on domestic relations, bankruptcy, employment law, zoning and municipal permitting.</p>
                <div class="social">
                  <ul class="social-buttons">
                    <li><a href="#" class="social-btn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="mailto:lkaine@southnaticklaw.com" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                  </ul>
                </div>
              </div>
             <div class="col-md-6 wp5 delay-1s">
                <a href="/erin-nihill">
                    <img class="img-thumbnail img-responsive center-block" src=" {{asset "img/nihill_full.jpeg" }}" alt="Erin Nihill">
                </a>
                <h2>Erin Nihill</h2>
                <p>Erin joined the firm Of Counsel in early 2015. Her expertise includes estate planning, estate and trust administration, real estate and municipal permitting.</p>
                <div class="social">
                  <ul class="social-buttons">
                    <li><a href="#" class="social-btn"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="mailto:ecnihill@gmail.com" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
</section>

{{> cta}}
