{{!< default}}

<section class="team text-center section-padding" id="team">
  <div class="container">
    {{#post}}
      <div class="row">
        <div class="col-md-12">
          <h1 class="arrow">{{title}}</h1>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-12">
              <p>{{content}}</p>
          </div>
      </div>
    {{/post}}
    <div class="row" id="team-row">
      <div class="col-md-6 wp5 delay-05s">
        <a href="/george-richards">
            <img class="img-thumbnail img-responsive center-block" src={{asset "img/richards_full.jpg" }} alt="George L Richards III">
        </a>
        <h2>George Richards III</h2>
        <p>George joined the firm in 1992 concentrating in commercial and residential real estate law, estate planning, probate law and small business law.</p>
        <div class="social">
          <ul class="social-buttons">
            <li><a href="https://www.linkedin.com/in/george-richards-139ba974/" target="_blank" class="social-btn"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.facebook.com/george.richards.7509" target="_blank" class="social-btn"><i class="fa fa-facebook"></i></a></li>
            <li><a href="mailto:grichards@southnaticklaw.com" class="social-btn"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 wp5">
        <a href="/richard-biller">
            <img class="img-thumbnail img-responsive center-block" src={{asset "img/biller_full.jpg" }} alt="Richard Biller">
        </a>
        <h2>Richard Biller</h2>
        <p>Richard joined the firm in 1995 and has been an attorney for 25 years. His practice focuses on domestic relations and employment law.</p>
        <div class="social">
          <ul class="social-buttons">
            <li><a href="#" class="social-btn"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
            <li><a href="mailto:rbiller@southnaticklaw.com" class="social-btn"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>      
    </div>
    <div class="row" id="team-row">
      <div class="col-md-6 wp5 delay-05s">
        <a href="/caren-schindel">
            <img class="img-thumbnail img-responsive center-block" src={{asset "img/schindel_full.jpg" }} alt="Caren Schindel">
        </a>
        <h2>Caren Schindel</h2>
        <p>Caren has been with the firm since 2008 and brings 30 years of experience as a family law and probate attorney.</p>
        <div class="social">
          <ul class="social-buttons">
            <li><a href="https://www.linkedin.com/in/caren-z-schindel-esq-0b1534a3/" target="_blank" class="social-btn"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
            <li><a href="mailto:cschindel@southnaticklaw.com" class="social-btn"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 wp5 delay-1s">
        <a href="/kimberly-winter">
          <img class="img-thumbnail img-responsive center-block" src={{asset "img/winter_full.jpg" }} alt="Kimberly Winter">
        </a>
        <h2>Kimberly Winter</h2>
        <p>
          Kimberly joined the firm in 2018 but has been practicing law for 25 years. As a lawyer and a nurse she
          concentrates her practice in Health Care Law including medical malpractice, health care professional licensure
          and health care regulation. She also represents persons who have been seriously injured by the negligence of
          others.
        </p>
        <div class="social">
          <ul class="social-buttons">
            <li><a href="#" class="social-btn"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
            <li><a href="mailto:kwinter@southnaticklaw.com" class="social-btn"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>      
    </div>
    <div class="row" id="team-row">
      <div class="col-md-6 wp5 delay-1s">
        <img class="img-thumbnail img-responsive center-block" src={{asset "img/mulcahy_full.jpg" }} alt="Alex Mulcahy">
        <h2>Alex Mulcahy</h2>
        <p>Alex joined the firm in 2017. Alex has extensive experience in residential real estate transactions and the title curative process. He focuses on representing buyers and sellers in purchase and sale negotiations, and representing lenders in the closing process.</p>
        <div class="social">
          <ul class="social-buttons">
            <li><a href="#" class="social-btn"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
            <li><a href="mailto:amulcahy@southnaticklaw.com" class="social-btn"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{{> cta}}
